canvas {
  border: 1px solid black;
}

#montain {
  display: none;
}

#bird {
  display: none;
}

/* Character 1 */

#character1f {
  display: none;
}

#character1l {
  display: none;
}

#character1r {
  display: none;
}

/* Character 2 */

#character2f {
  display: none;
}

#character2l {
  display: none;
}

#character2r {
  display: none;
}

#perso {
  display: none;
}